<div class="swiper-container s2">
  <div class="swiper-wrapper">
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/dock.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">DOCK</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/htl.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NEW BRANCH</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/undersea.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">UNDERSEA ROOM</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/nightlight.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NIGHTLIGHT</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/nightshow.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">NIGHT WATER SHOW</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img class="card-img-top" src="../assets/bg/coffee.jpg" height="236" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">COFFEE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <!-- <div class="swiper-slide" style="background-image:url('../assets/carousel/one.jpg')"></div> -->
    <!-- <div class="swiper-slide" style="background-image:url('../assets/carousel/two.jpg')"></div> -->
    <!-- <div class="swiper-slide" style="background-image:url('../assets/carousel/three.jpg')"></div> -->

  </div>

  <!-- Add Pagination -->
  <div class="swiper-pagination">
  </div>
</div>
<div class="center">
  <div class="swiper-container s3">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="../assets/carousel/room1.jpg" height="750" width="1920">
      </div>
      <div class="swiper-slide"><img src="../assets/carousel/room6.jpg" height="750" width="1920"></div>
      <div class="swiper-slide"><img src="../assets/carousel/room7.jpg" height="750" width="1920"></div>
      <div class="swiper-slide"><img src="../assets/carousel/room4.jpg" height="750" width="1920"></div>
      <div class="swiper-slide"><img src="../assets/carousel/room5.jpg" height="750" width="1920"></div>

    </div>
    <!-- Add Pagination -->

    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>

</div>

<app-cardslider></app-cardslider>