<div class="container-fluid">
<div class="swiper-container s1">
  <div class="swiper-wrapper">
    <div class="swiper-slide card demo">
      <img src="../assets/card/service1.svg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
        </p>
      </div>
    </div>
    <div class="swiper-slide card">
      <img src="../assets/card/services15.svg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
        </p>

      </div>
    </div>
    <div class="swiper-slide card">
      <img src="../assets/card/services14.svg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
        </p>

      </div>
    </div>
    <div class="swiper-slide card">
      <img src="../assets/card/services16.svg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
        </p>

      </div>
    </div>
    <div class="swiper-slide card">
        <img src="../assets/card/services9.svg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
          </p>
  
        </div>
      </div>
      <div class="swiper-slide card">
          <img src="../assets/card/services6.svg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content
            </p>
    
          </div>
        </div>

  </div>

  <div class="swiper-pagination">

  </div>
</div>
</div>